$blue: #434D66;
$dark-blue: #191D29;
$green: #38ABA3;
$white: #ECEBF3;
$brown: #B98B02;
$yellow: #F1C711;
$orange: #EE6C4D;


.tools{
    margin: 0;
    padding: 0;
    height: 95%;
    margin: 3rem 10rem 8rem 10rem;
    background: rgba(25,29,41,0.3);
    border: solid 1px $orange;
    border-radius: 20px;
    padding: 1rem 0rem;

    .bg{
        position: absolute;
        top: 0;
        left: 0;
        img{
            max-width: 100%;
        }

    }
}

.tools-container {
    display: flex;
    text-align: center;
    justify-content: space-between;

    h2 {
        color: $green;
        margin: 3rem auto;
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    img {
        max-width: 500px;
        margin-bottom: 2rem;
    }
    
    .desarrollo-web{
        margin-left: 5rem;
    }

    .design{
        margin-right: 5rem;
    }

    .tools-info {
        font-size: 1.5rem;
        color: $green;
            .lines{
                color: $orange;
            }
        
    }
}

@media (max-height: 900px) {

    .tools{
        height: max-content;
    }
    .tools-container{
        
        margin-bottom: 10rem;
        img{
            max-width: 400px;
        }

        .desarrollo-web{
            margin-left: 8rem;
        }
        .design{
            margin-right: 8rem;
        }
    }
}

@media screen and (max-width: 420px) {
    .tools{
        margin: auto 1rem 4rem 1rem;
        display: block;

        .tools-container{
            display: block;
            margin: 0;

            .desarrollo-web{
                margin: 0;
                margin-bottom: 5rem;
                h2{
                    font-size: 1.5rem;
                    margin: 2rem auto;
                }
                .desarrollo-logos{
                    img{
                        max-width: 300px;
                        margin-bottom: 0;
                    }
                }
                .tools-info{
                    font-size: 1.3rem;
                }
            }

            .design{
                margin: 0;
                h2{
                    font-size: 1.5rem;
                    margin: 2rem auto;
                }
                img{
                    max-width: 300px;
                    margin-bottom: 0;
                }
                .tools-info{
                    font-size: 1.3rem;
                    margin: 0 0.5rem;
                }
            }
        }

    }
}