$blue: #434D66;
$dark-blue: #191D29;
$green: #38ABA3;
$white: #ECEBF3;
$brown: #B98B02;
$yellow: #F1C711;
$orange: #EE6C4D;

.project-detail{
    display: block;
    // margin: 3rem 15rem 5rem 15rem;
    padding: 0;
    text-align: center;
    // padding: 3rem 0;
    border-radius: 25px;

    .back-link {
        color: $brown;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        display: flex;
        margin-left: 9rem;
        margin-top: 4rem;
        margin-bottom: 3rem;

        .arrow{
            font-size: 2rem;
            color: $white;
            padding-top: 3px;
            &:hover{
                color: $orange;
            }
        }
        .back{
            font-size: 1.4rem;
            padding-top: 0.2rem;
            color: $green;
            
            &:hover{
                color: $orange;
            }
        }
    }

    .back-link:hover{
        color: $green;
    }

    .project-detail-container{
        .detail-info {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            font-size: 1.5rem;
            color: $blue;
            background-color: #fff;
            grid-template-rows: 1fr;
            padding-top: 3rem;
            padding-bottom: 3rem;

            .detail-info-content {
                margin: auto;
                justify-self: center;
                text-align: left;
                grid-column-end: 3;
                grid-column-start: 1;
                h4 {
                    font-size: 1rem;
                    font-weight: 300;
                    margin-top: 0;
                    text-transform: uppercase;
                    color: $orange;
                }
                h2 {
                    color: $green;
                    font-size: 2.5rem;
                    justify-self: center;
                    margin: auto;
                    padding-bottom: 2rem;
                    max-width: 600px;
                    line-height: 1.5;
                    font-family: 'Shippori Mincho';
                }
            }
            .description {
                max-width: 700px;
                font-size: 1.2rem;
                grid-column-start: 3;
                grid-column-end: 5;
                line-height: 1.5;
                text-align: left;
            }
        }
        .links-proyectos {
            width: 100%;
            margin: auto;
            display: block;
            margin-top: 4rem;
            p{
                color: $green;
                font-size: 1rem;
                margin-right: 2rem;
            }
            a{
                font-family: 'Open Sans', sans-serif;
            }
        }
        .detail-img {
            p.description2 {
                font-size: 1.2rem;
                padding: 7rem;
                width: 45%;
                text-align: left;
                margin-left: 9rem;
                color: #fff;
            }
            img{
                width: 100%;
                // border-radius: 5px;
                display: block;
                margin: auto;
                // margin-bottom: 3rem;
            }
        }
    }
}


@media screen and (max-width: 420px ) {
    .project-detail{
        margin: 0 1rem;
        padding: 0 0.5rem;
        margin-bottom: 3rem;

        .back-link{
            margin: 1rem auto auto 1rem;
            
            .arrow{
                font-size: 1.2rem;
                padding-top: 0.1rem;
            }
            .back{
                font-size: 1rem;
                padding-top: 0;
            }
        }

        .project-detail-container{
            .detail-info{
                display: block;
                margin-top: 2rem;
                .detail-info-content{
                    h2{
                        font-size: 1.8rem;
                        margin: 0;
                        padding: 0;
                    }
                    a{
                        font-size: 1rem;
                        margin: 0;
                        svg {
                            font-size: 1.4rem;
                        }
                    }
                }
                .description {
                    font-size: 0.8rem;
                    margin-top: 4rem;
                }
            }
            .divide{
                margin: 2rem;
            }

            .detail-img{
                img{
                    max-width: 300px;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}