$blue: #434D66;
$dark-blue: #191D29;
$green: #38ABA3;
$white: #ECEBF3;
$brown: #B98B02;
$yellow: #F1C711;
$orange: #EE6C4D;

.navbar {
    color: $green;
    margin: 1rem 5rem 2rem 5rem;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    z-index: 100;
    background-color: none;
    .logo-name {
        display: flex;
        h3 {
            margin-left: 4rem;
            font-size: 1.6rem;
            font-weight: 500;
        }
        img {
            max-width: 60px;
            margin-top: 1rem;
        }
    }

    .menu {
        ul, li {
            font-size: 2rem;
            cursor: pointer;
        }
    }
    .menu-links{
        a{
            font-weight: 400;
        }
    }
}
.menu-links{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    ul{
        display: flex;
        li{
            display: contents;
        }
    }
    a{
        font-size: 1.4rem;
        color: $green;
        padding: 2.5rem 0 2.5rem 3rem;
        text-decoration: none;
        transform: translate(10px, 10px);
        transition: all 1s ease-in-out;
    }


    .proyectos-link:hover{
        color: $orange;
        // position: absolute;
        top: 0;
        right: -100px;
        letter-spacing: 0.2rem;
        animation-delay: 0.5s;
        // animation-name: rotate-29;
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }

    .conocimientos-link:hover{
        color: $orange;
        // position: absolute;
        top: 0;
        right: -100px;
        letter-spacing: 0.2rem;
        animation-delay: 0.5s;
        // animation-name: rotate-29;
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    .contacto-link:hover{
        color: $orange;
        // position: absolute;
        top: 0;
        right: -100px;
        letter-spacing: 0.2rem;
        animation-delay: 0.5s;
        // animation-name: rotate-Contact;
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }

    // @keyframes rotate-29 {
    //     0% {
    //         transform: translate(40px, 10px) rotate(0);
    //         transform-origin: 100% 100%;
    //     }
    //     100% {
    //         transform: translate(40px, 0px) rotate(-29deg);
    //         transform-origin: 100% 100%;
    //     }
    // }
    // @keyframes rotate-Contact {
    //     0% {
    //         transform: translate(-38px, 10px) rotate(0);
    //         transform-origin: 100% 100%;
    //     }
    //     100% {
    //         transform: translate(-38px, 0px) rotate(-29deg);
    //         transform-origin: 100% 100%;
    //     }
    // }
}

@media screen and (min-width: 800px) {
    .navbar{
        .menu{
            display: none;
        }
    }
}

@media screen and (max-width: 1200px) {
    .navbar{
        margin: 2rem 6rem;
    }
}

@media screen and (max-width: 800px) {
    .navbar{
        margin: 2rem 4rem;
        .menu-links{
            display: none;
        }
        .side-menu{
            // display: block;
            ul{
                position: fixed;
                width: 100%;
                height: 50vh;
            }
        }
    }
}

@media screen and (max-height: 700px) {
    .navbar{
        margin: 0 3rem 2rem 3rem;
        .logo-name{
            h3{
                margin-left: 1.8rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .navbar{
        margin: 1rem 1.5rem;
        .logo-name{
            h3{
                margin-left: 1rem;
                font-size: 1rem;
            }
            img{
                max-width: 45px;
                margin-top: 0.2rem;
            }
        }
        .menu {
            margin-top: -5px;
            ul, li {
                font-size: 2rem;
                top: 0rem;
                margin-top: 0.8rem;
            }
        }
    }
}