$blue: #434D66;
$dark-blue: #191D29;
$green: #38ABA3;
$white: #ECEBF3;
$brown: #B98B02;
$yellow: #F1C711;
$orange: #EE6C4D;


.projects-page {
    margin: 2rem 10rem 10rem 10rem;
    display: block;
    background: rgba(25,29,41,0.3);
    border: solid 1px $orange;
    border-radius: 20px;
    padding: 2rem 4rem 4rem 4rem;
    
    img{
        max-height: 350px;
        border-radius: 5px;
    }
    .divisor{
        height: 10rem;
        position: relative;
        width: 100%;
        background-color: transparent;
    }
}

@media (max-width: 900px) {
    .projects-page{
        margin: 1rem 3rem 10rem 3rem;
        img{
            max-height: 250px;
        }
        .project-info{
            h2{
                font-size: 1.2rem;
                margin-top: 1rem;
            }
            .divide{
                margin: 1.5rem auto -0.5rem auto;
            }
        }

        .projects-container{
            .projects{
                .project-left{
                    display: block;
                    grid-column-end: 5;
                }
                .project-right{
                    display: block;
                    grid-column-start: 1;
                }
            }
        }
        .divisor{
            height: 2rem;
        }
    }
}

.projects{
    display: grid;
    // grid-row-gap: 5rem;
    grid-template-columns: 25% 25% 25% 25%;
    // grid-template-rows: 50% 50%;
    margin-bottom: 6rem;
    margin-top: 4rem;

    .project-left{
        display: flex;
        margin: auto;
        margin-left: 0;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-end: 0;
    }

    .project-right{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        display: flex;
        margin: auto;
        margin-right: 0;
    }
}

.project-info {
    margin-left: 4rem;
    margin-right: 4rem;
    color: $blue;
    max-width: 800px;
    h2{
        font-size: 1.8rem;
        font-weight: 800;
        color: $orange;
        margin: 0;
        margin-bottom: 1rem;
    }
    
    p{
        color: $green;
        max-width: 500px;
    }

    .divide{
        margin: 2.5rem auto 1rem auto;
        border-top: solid 1px $orange;
        width: 75%;
    }
    
    .links {
        display: block;
        margin-top: 1rem;
    }

    a{
        // display: inline-block;
        text-decoration: none;
        color: $green;
        font-family: 'Open Sans', sans-serif;
        svg {
            font-size: 2rem;
        }
    }  
}

@media screen and (max-width: 500px) {
    .projects-page{
        padding: 2rem 0.8rem;
        margin: 1rem;
        margin-bottom: 4rem;
        img{
            margin: 0 auto;
            max-width: 300px;

        }
        .projects-container{
            .projects{
                display: block;
                margin: auto;
                margin-bottom: 4rem;

                .project-img{
                    margin: 0;
                    display: flex;
                }

                .project-info{
                    text-align: left;
                    margin: 0 1rem;
                    display: flow-root;

                    h2{
                        font-size: 1rem;
                        margin-bottom: 0.5rem;
                    }
                    span{
                        font-size: 0.8rem;
                    }
                    p{
                        font-size: 0.8rem;
                        margin-bottom: 0.5rem;
                    }
                    a{
                        font-size: 1rem;
                        svg {
                            font-size: 1.4rem;
                        }
                    }  
                }

            }
        }
    }
}

.animation-links{
    bottom: -2rem;
    font-size: 1.8rem;
    margin: 0 2rem 0 0;
    padding: 1rem 1rem 0.7rem 1rem;
    box-sizing: border-box;
    outline: none;
    border: 0;
    background: none;
    box-shadow: inset 0 0 0 2px #38ABA3;
    border-radius: 50%;
    color: #38ABA3;
    position: relative;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
    padding-top: 1.2rem;

    &::before,
    &::after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 101%;
        height: 100%;
    }
}

a{
    &:hover {
      color: $orange;
      transition: all 0.5s ease-in-out;
    }
  
    &::before,
    &::after {
      top: 0;
      left: 0;
      height: 102%;
      width: 102%;
      transform-origin: center; 
    }
  
    &::before {
      border-top: 3px solid $orange;
      border-bottom: 3px solid $orange;
      border-radius: 50%;
      transform: scale3d(0,1,1); 
    }
  
    &::after {
      border-left: 3px solid $orange;
      border-right: 3px solid $orange;
      border-radius: 50%;
      transform: scale3d(1,0,1); 
    }
  
    &:hover::before,
    &:hover::after {
      transform: scale3d(1,1,1);
      transition: transform 0.5s;
    }
  }